* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url(/app/Captura\ de\ tela\ 2025-11-22\ 154440.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  color: aliceblue;
  font-size: 20px;
  text-align: center;
}

body::selection {
  color: rgb(28, 0, 105);
  background-color: #ffffff;
}

.container {
  background-color: hsl(263, 97%, 15%);
  border: 1px solid #ffffff;
  border-radius: 2rcap;
  padding: 30px 30px;
  max-width: 500px;
  max-height: 400px;
  height: 50rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: left;
}

.container-form button {
  background-color: #2b0d96;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 5rem;
  color: #ffffff;
  font-size: larger;
  border: none;
  border-radius: 20px;
}

.form-input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
