* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url(/app/background.png);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  color: #05ffc9;
  font-size: 20px;
  text-align: center;
}

body::selection {
  color: #013b45;
  background-color: #1c6b99;
}

.container {
  background-color: rgba(175, 175, 175, 0.438); /* cor com alpha */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px); /* Safari */
  border-radius: 2rcap;
  padding: 30px 30px;
  max-width: 1000px;
  max-height: 400px;
  height: 50rem;
  width: 14cm;
  display: flex;
  flex-direction: column;
}

.container-form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: left;
}

.container-form button {
  background-color: #014954;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 4rem;
  color: #ffffff;
  font-size: larger;
  border: none;
  border-radius: 10px;
}

.form-input {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.form-input input {
  border: none;
  background-color: #012c37;
  height: 2.5rem;
  color: #ffffff;
  border-radius: 5dvb;
}

.form-input ::placeholder {
  color: #ffffff;
  padding-left: 10px;
}
